.news-app {
    display: flex;
    justify-content: center;
}

.news-item {
    width: 500px;
    padding: 20px;
    border: 2px solid;
    margin-bottom: 20px;
    color: whitesmoke;
}

.news-img {
    width: 400px;
}

.title {
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

body {
    background-color: slategray;
}

.searchBar {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 5px;
    height: 30px;
}

.search-cursor {
    cursor: pointer;
    background-color: darkslategray;
    color: whitesmoke;
    border: 1px solid;
    border-radius: 5px;
    width: 80px;
}

.article-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


